* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 10px auto;
}


/*Header*/

header {
    background-color: #000;
    padding: 8px 0px 20px 0px;
    color: #fff;
}

.info-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.opening-hours span,
.our-address p {
    color: #A2A6B0;
}

.our-address span {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 3px;
}

.store-contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    padding: 0 10px;
    column-gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 1s;
}

.menu ul li a:hover {
    color: #0156FF;
}

.menu ul li:last-child a {
    border: 2px solid #0156FF;
    border-radius: 20px;
    padding: 8px 25px;
    color: #0156FF;
    transition: none;
}

.menu ul li:last-child a:hover {
    color: #fff;
    border: 2px solid #fff;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    font-size: 25px;
    color: #A2A6B0;
}

.action-icons {
    display: flex;
    gap: 20px;
    position: relative;
}

.search {
    cursor: pointer;
}

/*Novo*/
.action-icons input[type="text"], .action-icons input[type="text"]:focus {
    border-radius: 10px;
    height: 30px;
    display: none;
    outline: none;
    color: #fff;
    border-color: #0156FF;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart .items-cart {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #0156FF;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    top: -10px;
    right: -12px;
}

/* Estilo adicionar carrinho */

.add-cart {
    border-radius: 10px;
    display: none;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: #000;
    font-weight: bold;
}

.add-cart img {
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
}

.actions-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.decrease-quantity {
    border: 1px solid #000;
    padding: 5px 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.increase-quantity {
    border: 1px solid #000;
    padding: 5px 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.decrease-quantity:hover,
.increase-quantity:hover {
    background-color: #0156FF;
}

.number-quantity {
    font-size: 18px;
}

.card-new-products:hover .add-cart {
    display: flex;
}



/* Estilo dos novos produtos */

#new-products {
    margin: 30px 0;
}

.header-new-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-new-products h1 {
    font-weight: bold;
}

.header-new-products a {
    color: #0156FF;
    font-size: 13px;
}

.general-content-card-products {
    display: flex;
    justify-content: space-between;
}

.card-new-products {
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.5s ease;
}

.card-new-products:hover {
    cursor: pointer;
    background-color: #A2A6B070;
    border-radius: 10px;
    transform: scale(1.1);
}

.stock {
    display: flex;
    gap: 5px;
}

.stock p {
    font-size: 12px;
}

.in-stock {
    color: #78A962;
}

.out-stock {
    color: #C94D3F;
}

.img-product {
    display: block;
    margin: 0 auto;
}

.product-review {
    display: flex;
    gap: 5px;
}

.product-review p {
    font-size: 12px;
    color: #A2A6B0;
    border-bottom: 1px solid #A2A6B0;
}

.info-product {
    margin-top: 20px;
}

.info-product h3 {
    font-size: 13px;
    margin-bottom: 20px;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #666666;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para produtos*/

.title-section-products {
    font-size: 18px;
    color: #00000080;
    border-bottom: 1px solid #A2A6B0;
    margin-bottom: 20px;
    display: none;
}

.product-filter-brands ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.product-filter-brands ul li {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #838383;
}

.product-filter-brands ul li.product-brand-active {
    border-bottom: 2px solid #0156FF;
    color: #000;
}

.notebook-products,
.cpu-products,
.monitor-products {
    display: flex;
}

.product-cover {
    margin-right: 20px;
}

.product-cover img {
    height: fit-content;
    width: 300px;
}

/* Estilo para slider de patrocinadores */

.content-sponsors {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
}

.slider-sponsors {
    display: flex;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider-sponsors img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}


/* Estilo para os depoimentos */

.content-testimonial {
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: #F5F7FF;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.name-testimonial {
    display: flex;
    justify-content: flex-end;
}

.name-testimonial::before {
    content: "-";
    margin-right: 5px;
}

.controls-testimonial {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 30px;
}

.controls-testimonial span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cacdd8;
    cursor: pointer;
}

.controls-testimonial span.active-testimonial {
    background-color: #0156FF;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

/* Estilo para a qualidade */

.info-quality {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
}

.card-quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 10px 0;
}

.card-quality h1 {
    font-size: 18px;
}

.card-quality h2 {
    width: 300px;
    font-size: 14px;
    color: #00000080;
    font-weight: normal;
}


.card-quality img {
    border-radius: 50%;
    background-color: #0156FF;
    padding: 10px;
}

/* Estilo para formulário */

.general-content-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.titles-form h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.info-content-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.line-form {
    display: grid;
    grid-auto-flow: column dense;
    gap: 20px;
    margin: 10px 0;
}

.group-form {
    display: flex;
    flex-direction: column;
}

.group-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.group-form label span {
    color: #C94D3F;
}

input[type="text"],
input[type="email"],
input[type="text"]:focus,
input[type="email"]:focus,
textarea {
    border: 1px solid #A2A6B0;
    outline: none;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

input[type="submit"], input[type="button"] {
    background-color: #0156FF;
    cursor: pointer;
    border: none;
    padding: 10px 35px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
}

.infos-contact {
    background-color: #F5F7FF;
    padding: 55px 35px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.line-contact-info {
    display: flex;
    gap: 20px;
}

.line-contact-info h3 {
    margin-top: 15px;
}

.line-contact-info h4 {
    font-weight: normal;
    font-size: 13px;
}

/* Estilo para o rodapé */

footer {
    background-color: #000;
    color: #fff;
    padding-top: 50px;
}

footer .container {
    margin: 0 auto;
}

.newsletter-footer {
    display: flex;
    justify-content: space-between;
}

.titles-newsletter h1 {
    font-weight: normal;
}

.titles-newsletter h2 {
    font-size: 16px;
    font-weight: normal;
}

.input-newsletter {
    width: 300px;
    margin-right: 20px;
    color: #fff;
}

/* .input-form-newsletter input {
    margin: 0;
} */

.card-footer {
    margin: 30px 0;
}

.card-footer span {
    color: #A2A6B0;
    font-weight: bold;
    font-size: 16px;
}

.card-footer p {
    font-size: 14px;
}

.card-footer a {
    color: #01A4FF;
    text-decoration: none;
}

.additional-infos-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff20;
    padding: 20px 0;
    margin-top: 50px;
}

/* Estilo para a página de carrinho */

.breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
    margin-right: 5px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #000;
}

.breadcrumb li:last-child {
    font-weight: bold;
}

.breadcrumb li:not(:last-child)::after {
    content: " > ";
    color: #777;
}

.input-cep {
    position: relative;
}

.search-cep {
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: #0156FF;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.info-products-order {
    display: flex;
    flex-direction: column;
}

.send-order {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

.send-order input[type="button"] {
    margin-top: 30px;
}

.disabled-send-order {
    background-color: #666666 !important;
    opacity: 0.8;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

thead tr th, tbody tr td {
    border-bottom: 1px solid #cacdd8;
    padding-bottom: 10px;
}

thead tr th:first-child {
    text-align: left;
}

tbody tr td {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

tbody tr td:first-child {
    font-weight: normal;
}

.product-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-order {
    background-color: #F5F7FF;
    padding: 55px 35px;
    box-sizing: border-box;
    height: fit-content;
}

.infos-order h2 {
    font-size: 18px;
    font-weight: normal;
}

.infos-order h3 {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    margin-top: 15px;
    border-bottom: 1px solid #cacdd8;
    padding-bottom: 5px;
}

.add-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 15px 0;
}

.coupon-error {
    color: #C94D3F;
    font-size: 14px;
    display: none;
}

.coupon-added {
    display: flex;
    justify-content: space-between;
}

.coupon-added span {
    font-size: 18px;
}

.line-info-order {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
}

.legend-order {
    font-size: 10px;
    color: #A2A6B0;
}

.total-order {
    font-size: 18px;
}

.info-products-order-mobile {
    display: none;
}

.info-products-order-mobile ul {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #A2A6B0;
}

.info-products-order-mobile ul li {
    list-style-type: none;
    font-weight: bold;
}

.info-products-order-mobile img {
    width: 50px;
    height: 50px;
}

.info-products-order-mobile span {
    font-weight: normal;
    margin-left: 10px;
}

/* Estilos para telas médias */

@media screen and (max-width: 1200px) {
    .info-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .navigation-header {
        position: relative;
    }

    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-open {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
        z-index: 2;
    }

    .mobile-menu-open ul {
        flex-direction: column;
        row-gap: 15px;
    }

    .mobile-menu-open ul li:last-child {
        margin-top: 10px;
    }

    .general-content-card-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .info-quality {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .general-content-form {
        grid-template-columns: 1fr;
    }

    .line-form {
        grid-auto-flow: unset;
        grid-template-columns: 1fr;
    }

    .notebook-products,
    .cpu-products,
    .monitor-products {
        flex-direction: column;
    }

    .newsletter-footer {
        flex-direction: column;
        justify-content: center;
    }

    .input-form-newsletter {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 30px 0;
    }

    .input-form-newsletter input[type="submit"] {
        width: fit-content;
    }

    .input-form-newsletter input {
        margin: 0;
    }

    .additional-infos-footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .product-cover {
        display: none;
    }

    .title-section-products {
        display: block;
    }

    table {
        display: none;
    }

    .info-products-order-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .general-content-card-products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}